<ion-header class="ion-no-border">
  <ion-toolbar *ngIf="hasSearch else backArrow">
    <ion-input expand="full" #searchinput class="searchBar" placeholder="Search contacts"
    [(ngModel)]="search" (ionFocus)="searching = true" (ionBlur)="searching = false"
    [class.active-search]="searching" [ngClass]="{'has-search-value': (search !== '' || searching),  'no-search-value': (search === '' && !searching)}">
    <ion-icon name="search"></ion-icon>
  </ion-input>
  <ion-icon (click)="test()" class="options" slot="end" name="ellipsis-vertical-outline"></ion-icon>

  <!--the modal should be a component itself for you to call and open-->
  <!-- <ion-icon id="open-modal" class="options" slot="end" name="ellipsis-vertical-outline" expand="block">Open</ion-icon>
  <p></p>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Enter your name</ion-label>
          <ion-input type="text" placeholder="Your name" [(ngModel)]="somename"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal> -->



</ion-toolbar>

 <ng-template #backArrow>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/tab2" routerLink="/tabs/tab2"></ion-back-button>
  </ion-buttons>
  <ion-icon (click)="test()" class="options" slot="end" name="ellipsis-vertical-outline"></ion-icon>
</ion-toolbar>
</ng-template> 

</ion-header>
