<body>
  <app-searchbar [hasSearch]="true"></app-searchbar>
  <ion-header>
    <ion-toolbar>
      <ion-button class="addContact" routerLink="predefine-message">
      <ion-icon name="chatbubbles-outline" size="large" color="warning"></ion-icon>
      <ion-icon name="add-outline" color="warning"></ion-icon>
      <ion-label color="warning">Predefine message</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="description">
    <h1>SEND MESSAGE</h1>
    <p>Select a contact to message</p>
  </div>
  <ion-list>
    <ion-item *ngFor="let contact of contacts; let i = index" [attr.data-index]="i">
      <ion-button expand="full" class="contact" [routerLink]="['../../live-session', contact.UserId]">
        <span [style.background-color]="getColor(i)" class="dot"></span>
        <ion-text [style.color]="getColor(i)">{{contact.Name | titlecase}}</ion-text>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>

</body>