ion-header::after  {
    background-image: none;
}

.primary{
    --background: #2d61bb;
     margin-top: 10px;

}

ion-button{
    --border-radius: 10px;
    display: flex;
    height: 60px;
    margin: 20px;

    font-size: 20px;
}

ion-card:hover{
    cursor: pointer;
}

ion-title{
    color: #ffffff;
    font-size: 30px;
    display: flex;
    transform: translate(0,80px);
    text-align: center;
    position: relative;
    font-weight: bold;
    
}

ion-footer, ion-card-title{
    text-align: center;
    color: #ffffff;
}

ion-card{
    border-radius: 10px;
    --background: rgb(39, 39, 39);
}

.description{
    color: #ffffff;
    font-size: 20px;
}

ion-img{
   height: 60px;
   width: 60px;
}



.secondary{
    --background: rgb(39, 39, 39);
    color: #8786863f;
}