// .primary{
//     --background: #2d61bb;
//      margin-top: 220px;

// }

// ion-button{
//     --border-radius: 10px;
//     display: flex;
//     height: 60px;
//     margin: 20px;

//     font-size: 20px;
// }

// ion-text{
//     margin: 100px;
// }

// ion-title{
//     color: #ffffff;
//     font-size: 30px;
//     display: flex;
//     transform: translate(0,80px);
//     text-align: center;
//     position: relative;
// }

// .secondary{
//     --background: rgb(39, 39, 39);
//     color: #8786863f;
// }



.primary{
    --background: #2d61bb;
     margin-top: 350px;
}

ion-button{
    scale: 1.2;
    --border-radius: 10px;
    display: flex;
    height: 60px;
    margin: 40px;

    font-size: 20px;
}

ion-text{
    margin: 100px;
}

ion-title{
    color: #ffffff;
    font-size: 30px;
    display: flex;
    transform: translate(0,20px);
    text-align: center;
    // position: relative;
}

.secondary{
    --background: rgb(39, 39, 39);
    color: #8786863f;
}