<body>
  <app-searchbar [hasSearch]="false"></app-searchbar>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="description">
    <h1>EXISTING DEFINED MESSAGES</h1>
    <p>See your list of defines messages and delete, edit and play them</p>
  </div>
  <ion-list>
    <ion-item *ngFor="let definedMessage of definedMessages; let i = index" [attr.data-index]="i">
      <ion-text>{{definedMessage.Name | titlecase}}({{definedMessage.Pattern}})*{{definedMessage.PatternRepeat}} sound: {{definedMessage.Sound}}</ion-text>
      <ion-icon (click)="deleteMessage(i)" aria-label="Delete" class="delete" slot="end" name="trash-outline"></ion-icon>
      <ion-icon (click)="editMessage(definedMessage, i)" aria-label="Edit" class="edit" slot="end" name="create-outline"></ion-icon>
      <ion-icon (click)="playMessage(definedMessage)" aria-label="Play" class="play" slot="end" name="play-circle-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
    <ng-template>
      <ion-content class="pop ion-padding">
        <ion-icon (click)="cancel()" name="close-outline"></ion-icon>
        <form class="centered-div" [formGroup]="changeForm" (ngSubmit)="confirmChange()">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" [ngModel]="selectedMessage.Name" formControlName="Name"></ion-input>
              <ng-container *ngFor="let validation of validationMessages.Username">
                <div class="error-message" *ngIf="changeForm.get('Name')
                     .hasError(validation.type) 
                     && (changeForm.get('Name').dirty 
                     && changeForm.get('Name').touched)">
                  <ion-icon name="flash"></ion-icon>
                  {{ validation.message }} 
                </div>
              </ng-container>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating">Pattern</ion-label>
            <ion-input type="text" [ngModel]="selectedMessage.Pattern" formControlName="Pattern"></ion-input>
              <ng-container *ngFor="let validation of validationMessages.Phone">
                <div class="error-message" *ngIf="changeForm.get('Pattern')
                     .hasError(validation.type) 
                     && (changeForm.get('Pattern').dirty 
                     && changeForm.get('Pattern').touched)">
                  <ion-icon name="flash"></ion-icon>
                  {{ validation.message }} 
                </div>
              </ng-container>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating">Pattern repeat</ion-label>
            <ion-input type="number" [ngModel]="selectedMessage.PatternRepeat" formControlName="PatternRepeat"></ion-input>
              <ng-container *ngFor="let validation of validationMessages.Pattern">
                <div class="error-message" *ngIf="changeForm.get('Pattern')
                     .hasError(validation.type) 
                     && (changeForm.get('PatternRepeat').dirty 
                     && changeForm.get('PatternRepeat').touched)">
                  <ion-icon name="flash"></ion-icon>
                  {{ validation.message }} 
                </div>
              </ng-container>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Sound</ion-label>
            <ion-input type="text" [ngModel]="selectedMessage.Sound" formControlName="Sound"></ion-input>
              <ng-container *ngFor="let validation of validationMessages.Sound">
                <div class="error-message" *ngIf="changeForm.get('Sound')
                     .hasError(validation.type) 
                     && (changeForm.get('Sound').dirty 
                     && changeForm.get('Sound').touched)">
                  <ion-icon name="flash"></ion-icon>
                  {{ validation.message }} 
                </div>
              </ng-container>
          </ion-item>
    
          <ion-button class="centered-div-bottom" type="submit">Change message</ion-button>
        </form>

      </ion-content>
    </ng-template>
  </ion-popover>

</ion-content>

</body>